.sidebar {
    transition: all 0.3s ease;
    width: 250px;
}

.sidebar.collapsed {
    width: 70px;
}

.sidebar.collapsed .sidebar-text,
.sidebar.collapsed .logo-text {
    display: none;
}

.sidebar.collapsed .nav-item {
    justify-content: center;
}

#wrapper.sidebar-collapsed #content-wrapper {
    /* margin-left: 70px !important; */
    transition: all 0.3s ease;
}
